/* http://meyerweb.com/eric/tools/css/reset/
   v5.0.2 | 20191019
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css?family=Poppins");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
main, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section {
  display: block;
}

/* HTML5 hidden-attribute fix for newer browsers */
*[hidden] {
  display: none;
}

body {
  line-height: 1;
}

menu, ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Poppins";
}

.boxDesign {
  border-radius: 30px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  background-color: rgba(245, 245, 245, 0.434);
}

.bodyBg {
  background: linear-gradient(-45deg, #23d5ab, #bbd4fd, #6e7afc, #1c458d);
}
.bodyBg .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 13px 20px;
  margin-top: 20px;
}
.bodyBg .header .logo img {
  width: 100px;
}
.bodyBg .header .header-nav .headerUl {
  display: flex;
  gap: 30px;
}
.bodyBg .header .header-nav .headerUl li a {
  list-style: none;
  text-decoration: none;
  color: white;
  font-family: "Poppins";
  font-size: 15px;
}
.bodyBg .header .header-nav .headerUl li a:hover {
  text-decoration: underline;
  text-underline-offset: 10px;
  transition: 0.5s;
}
.bodyBg .header .navBar {
  display: none;
}
@media only screen and (max-width: 991px) {
  .bodyBg .header .navBar {
    display: block;
  }
}
.bodyBg .header .btnIcons {
  display: flex;
  align-items: center;
  gap: 40px;
}
.bodyBg .header .btnIcons .btn {
  font-family: "Poppins";
  border-radius: 25px;
  padding: 8px 20px;
  color: white;
  font-size: 13px;
  background-color: #7480fe;
}
.bodyBg .header .btnIcons .btn:hover {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  transition: 0.5s;
}
.bodyBg .header .btnIcons .icons {
  display: flex;
  align-items: center;
  gap: 20px;
}

@media only screen and (max-width: 991px) {
  .header .header-nav {
    display: none;
  }
  .header .header-nav .navBar {
    display: block;
  }
  .header .burgerNav {
    padding: 250px 0;
  }
  .header .burgerNav .burgerUl {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 30px;
  }
  .header .burgerNav .burgerUl li a {
    list-style: none;
    text-decoration: none;
    color: #1c458d;
    font-family: "Poppins";
    font-size: 25px;
  }
  .header .burgerNav .burgerUl li a:hover {
    text-decoration: underline;
    text-underline-offset: 10px;
  }
  .header .btn {
    display: none;
  }
}
#home {
  padding-bottom: 30px;
}
#home .homeSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 70px 50px;
  margin-top: 20px;
}
#home .homeSection .heroBanner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media only screen and (max-width: 991px) {
  #home .homeSection .heroBanner {
    flex-direction: column;
    gap: 50px;
  }
}
@media only screen and (max-width: 991px) and (max-width: 576px) {
  #home .homeSection .heroBanner .heroImg {
    display: none;
  }
}
#home .homeSection .heroBanner .heroInfo .homeInfo {
  color: white;
  font-family: "Poppins";
  font-size: 50px;
  line-height: 1.2;
}
#home .homeSection .heroBanner .heroInfo .homeP {
  font-family: "Poppins";
  color: rgb(240, 240, 240);
  margin-bottom: 12px;
  padding: 15px 0;
  line-height: 1.4;
}
#home .homeSection .heroBanner .heroInfo .btn {
  font-family: "Poppins";
  border-radius: 25px;
  padding: 8px 20px;
  color: #1c458d;
  color: white;
  font-size: 13px;
  font-weight: 500;
  background-color: #7480fe;
}
#home .homeSection .heroBanner .heroInfo .btn:hover {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  transition: 0.5s;
}
#home .homeSection .heroBanner .heroImg .rightImg {
  display: flex;
  padding-right: 60px;
}

#eduSec {
  padding-bottom: 30px;
}
#eduSec .container .eduSec {
  padding: 50px;
}
#eduSec .container .eduSec .eduHead {
  padding-bottom: 20px;
}
#eduSec .container .eduSec .eduHead .eduHeadInfo {
  color: white;
  font-size: 35px;
  font-family: Poppins;
  font-weight: 600;
  position: relative;
}
#eduSec .container .eduSec .eduHead .eduHeadInfo::after {
  position: absolute;
  content: "";
  height: 3px;
  background-color: #7480fe;
  width: 60px;
  top: 45px;
  left: 5px;
}
#eduSec .container .eduSec .eduBody .eduCards {
  padding: 10px 15px;
  gap: 10px;
}
#eduSec .container .eduSec .eduBody .eduCards .eduCard {
  border: 1px solid white;
  border-radius: 30px;
  box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
}
#eduSec .container .eduSec .eduBody .eduCards .eduCard .cardImg {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 15px;
  gap: 5px;
}
#eduSec .container .eduSec .eduBody .eduCards .eduCard .cardImg .cardTitle {
  font-family: Poppins;
}
#eduSec .container .eduSec .eduBody .eduCards .eduCard .cardImg .cardTitle .titleP {
  color: white;
  margin-bottom: 10px;
  font-size: 30px;
}/*# sourceMappingURL=main.css.map */