/* http://meyerweb.com/eric/tools/css/reset/
   v5.0.2 | 20191019
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css?family=Poppins");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
main, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section {
  display: block;
}

/* HTML5 hidden-attribute fix for newer browsers */
*[hidden] {
  display: none;
}

body {
  line-height: 1;
}

menu, ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Poppins";
}

.bodyBg {
  background: linear-gradient(-45deg, #ee7752, #a8d900, #1c458d, #23d5ab);
  background-size: 400% 400%;
  animation: gradientBody 15s ease infinite;
}
@keyframes gradientBody {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.bodyBg .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 13px 20px;
  margin-top: 20px;
  border-radius: 30px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  background-color: rgba(245, 245, 245, 0.434);
}
.bodyBg .header .logo img {
  width: 100px;
}
.bodyBg .header .header-nav .headerUl {
  display: flex;
  gap: 30px;
}
.bodyBg .header .header-nav .headerUl li a {
  list-style: none;
  text-decoration: none;
  color: #1c458d;
  font-family: "Poppins";
  font-weight: 600;
  font-size: 15px;
}
.bodyBg .header .header-nav .headerUl li a:hover {
  text-decoration: underline;
  text-underline-offset: 10px;
  transition: 0.5s;
}
.bodyBg .header .navBar {
  display: none;
}
@media only screen and (max-width: 991px) {
  .bodyBg .header .navBar {
    display: block;
  }
}
.bodyBg .header .btnIcons {
  display: flex;
  align-items: center;
  gap: 40px;
}
.bodyBg .header .btnIcons .btn {
  font-family: "Poppins";
  border: 1px solid #1c458d;
  border-radius: 25px;
  padding: 8px 20px;
  color: #1c458d;
  font-size: 13px;
  font-weight: 500;
}
.bodyBg .header .btnIcons .btn:hover {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  transition: 0.5s;
}
.bodyBg .header .btnIcons .icons {
  display: flex;
  align-items: center;
  gap: 20px;
}

@media only screen and (max-width: 991px) {
  .header .header-nav {
    display: none;
  }
  .header .header-nav .navBar {
    display: block;
  }
  .header .burgerNav {
    padding: 250px 0;
  }
  .header .burgerNav .burgerUl {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 30px;
  }
  .header .burgerNav .burgerUl li a {
    list-style: none;
    text-decoration: none;
    color: #1c458d;
    font-family: "Poppins";
    font-size: 25px;
  }
  .header .burgerNav .burgerUl li a:hover {
    text-decoration: underline;
    text-underline-offset: 10px;
  }
  .header .btn {
    display: none;
  }
}
#home .homeSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 50px 35px;
  border-radius: 30px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  background-color: rgba(245, 245, 245, 0.434);
  margin-top: 20px;
}
#home .homeSection .homeInfo {
  color: #1c458d;
  font-family: "Poppins";
  font-size: 50px;
  line-height: 1.2;
}
#home .homeSection .btn {
  font-family: "Poppins";
  border: 1px solid #1c458d;
  border-radius: 25px;
  padding: 8px 20px;
  color: #1c458d;
  font-size: 13px;
  font-weight: 500;
}
#home .homeSection .btn:hover {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  transition: 0.5s;
}/*# sourceMappingURL=main.css.map */