#eduSec {
  .container {
    .eduSec {
      padding: 60px;
      .eduHead {
        .eduHeadInfo {
          // color: #7480fe;
          color: white;
          font-size: 35px;
          font-family: Poppins;
          position: relative;
          &::after {
            position: absolute;
            content: "";
            height: 3px;
            background-color: #7480fe;
            width: 60px;
            top: 45px;
            left: 5px;
          }
        }
      }
    }
  }
}
