.bodyBg {
  // background-color: #f7f6ff;
  // background: linear-gradient(#a8d900, #1c458d);
  background: linear-gradient(-45deg, #ee7752, #a8d900, #1c458d, #23d5ab);
  background-size: 400% 400%;
  animation: gradientBody 15s ease infinite;
  @keyframes gradientBody {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 13px 20px;
    margin-top: 20px;
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
      rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    background-color: rgba(245, 245, 245, 0.434);

    .logo {
      img {
        width: 100px;
      }
    }
    .header-nav {
      .headerUl {
        display: flex;
        gap: 30px;

        li {
          a {
            list-style: none;
            text-decoration: none;
            color: #1c458d;
            font-family: "Poppins";
            font-weight: 600;
            font-size: 15px;
            &:hover {
              text-decoration: underline;
              text-underline-offset: 10px;
              transition: 0.5s;
            }
          }
        }
      }
    }
    .navBar {
      display: none;
      @media only screen and (max-width: 991px) {
        display: block;
      }
    }
    .btnIcons {
      display: flex;
      align-items: center;
      gap: 40px;
      .btn {
        font-family: "Poppins";
        border: 1px solid #1c458d;
        border-radius: 25px;
        padding: 8px 20px;
        color: #1c458d;
        font-size: 13px;
        font-weight: 500;

        &:hover {
          // background-color: #1c458d;
          // color: white;
          // box-shadow: rgba(0, 0, 0, 0.35) 0px 4px 12px;
          box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
            rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
          transition: 0.5s;
        }
      }
      .icons {
        display: flex;
        align-items: center;
        gap: 20px;
      }
    }
  }
}

@media only screen and (max-width: 991px) {
  .header {
    .header-nav {
      display: none;
      .navBar {
        display: block;
      }
    }
    .burgerNav {
      padding: 250px 0;
      .burgerUl {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 30px;
        li {
          a {
            list-style: none;
            text-decoration: none;
            color: #1c458d;
            font-family: "Poppins";
            font-size: 25px;
            &:hover {
              text-decoration: underline;
              text-underline-offset: 10px;
            }
          }
        }
      }
    }
    .btn {
      display: none;
    }
  }
}
